<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<body onload='initialize()'>
  Lat:
    <input id="lat" name="lat" val="40.713956" />
  Long:
    <input id="long" name="long" val="74.006653" />
    <div id="map_canvas" style="width: 500px; height: 250px;"></div>
 <script type="text/javascript">

 navigator.geolocation.getCurrentPosition(function (position) {
        //alert(position.coords.latitude + ',' + position.coords.longitude);
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;
        }, function (error) {
        alert(error.code);
        }, {enableHighAccuracy: true, maximumAge: 0});

 function initialize() {
    var myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

    var myOptions = {
        zoom: 16,
        center: myLatlng,
        streetViewControl: true,
        mapTypeControl: true,
        zoomControl: true,
        mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var marker = new google.maps.Marker({
        draggable: true,
        position: myLatlng,
        map: map,
        title: "Your location"
    });

    google.maps.event.addListener(marker, 'dragend', function (event) {
            sendCoords(event.latLng.lat(),event.latLng.lng() )
    });

    // close popup window
    google.maps.event.addListener(map, 'click', function() {
    infowindow.close();
    });
</script>

</body>