body{
	margin: 0 auto;
	background-color:#ECF0F1;
	padding:0;
	overflow:scroll;
	font-family: 'Open Sans', Roboto;
}
.header-m a{
	text-decoration: none;
	color: #fff
}
.header-m{
	text-align:center;
	background-color:#2c3e50;
	color:#FFF;
	width:100%;
	padding-top:10px;
	margin: 0 auto;
	height: 40px;
	margin-bottom: 6px;
}
.ham{
	position:relative;
	top:0px;
	margin: 0 auto;
	
}
.sidebar{
	position:absolute;
	top:0;
	left:-250px;
	background:#FFF;
	width:250px;
	height:100%;
	transition:.3s;
}

.sidebar-active{
	left:0;
}
.sidebar ul{
	margin:0;
	padding: 20px 0;
}

.sidebar ul li{
	list-style:none;
}

.sidebar ul li a{
	padding: 30px 30px;
	color: #262626;
	display:block;
	text-decoration:none;
	border-bottom: 1px solid rgba(0,0,0,.2);	
}
.menu{
	position:absolute;
	top:0;
	right:-50px;
	width:50px;
	height:50px;
	box-sizing: border-box;
	cursor: pointer;
	background: #2c3e50;
	border:none;
	outline:none;
}

.menu span{
 	display: block;
	width:35px;
	height:3px;
	background:#FFF;
	position:absolute;
	top:24px;
	transition:.3s;

}
.hamburger {
	width: 35px;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0 0 10px;
}

#ul li{
	padding: 0;
	display: inline-block;
	list-style: none;
	margin-right: 100px;

}

#ul li a{
	text-decoration: none;
	color: #22313F; /*come baaaaaaaaaaaack*/

}
#ul{
	margin: 0;
}


article{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 30px;
}

#arth{
	background-color: white;
	display: inline-block;
	width: 100%;
	padding: 5px;
	margin-bottom: 4px;
}

#photo{
	background-color: black;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius:50px; 
	margin-left: 10px;
}
.m-cont{
	background-color: white;
	width: 100%;
	padding: 5px;
	text-align: left;
	margin-bottom: 4px;

}
.maps{
	width: 40%;
	height: 40%;
	margin-bottom: 5px;
	background-color: black;
	float: right;
}

.description{
	background-color: #FFF;
	float:left;
}

#photos{
	clear: both;
}

#photos div{
	display: inline-block;
	width:40px;
	height: 40px;
	background-color: black;

}

.p1{
	margin-right: 20px; 

}

#fb{
	width: 20px;
	height: 20px;
	background-color: black;
	float: right;
}

#tw{
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background-color: black;
	float: right;
}

#profile{
	display: block;
	margin: 0 auto;
	background-color: black;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#prof{
	padding: 5px;
	width: 70%;
	margin: 0 auto;
	background-color: white;
}

form{

	margin-left: 10px;
}

input{
	border-radius: 10px;
	height: 20px;
	width: 97%;
}

.blue {
	text-decoration: none;
	border: none;
	color: white;
	background-color:#4B77BE;
	border-radius: 2px;
}
.red{
	text-decoration: none;
	border: none;
	color: white;
	background-color:#EC644B;
	border-radius: 2px;
}
.active{
	text-decoration-color: #2c3e50;
	text-decoration:underline;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    margin: 8px 0;
    padding-top: 10px;
    padding-bottom: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2c3e50;
}

article footer{
	clear: both;
}

#formular {
	margin: 0 auto; 
	width: 70%;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
}
#buttons{
	background-color: white;
		padding:5px;
		clear: both;
	width: 100%
}

#piccom{
	float: left;
	width: 40px;
	height: 40px;
	background-color: black;
}

a{
	text-decoration: none;
	color: #2c3e50;
}

#buttonu {
	background-color: #2c3e50;
	padding: 5px;
	text-align: center;
	color: white;
	border-radius: 5px;
	border:none;
	cursor: pointer;
	font-size: 16px;
}

@media only screen and (min-width: 150px) and (max-width:1200px){

#arth{
	display: block;
}
#ul li{
	display: block;
}
#prof{
	width: 100%;
}
.description{
	width: 100%;
}

}
