<!DOCTYPE html>
<html lang="en">
<head>
	 <meta content="text/html; charset=UTF-8" />
	 <title>CityHelper | {{page_name}}</title>
	 <link rel="stylesheet" href='/static/styleok.css'/>
	 <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	 <meta name="viewport" content="width=device-width, initial scale= 1.0" />
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$(".menu").click(function(){
		$(".sidebar").toggleClass("sidebar-active");
	});
});

</script>
	{%block pagescript%}{%endblock%}
</head>
<body>
	 <header class="header-m">

		 <h2 class="ham"><a href="/index">Cityhelper</a></h2>
	 </header>
	 <div class='sidebar'>
	 	<ul>
			<li><a href="{{url_for('index')}}"><h4>Feed</h4></a></li>
			{%if g.user.is_authenticated%}
			<li><a href="{{url_for('post_issue')}}"><h4>Post an issue</h4></a></li>
			<li><a href="{{url_for('show_profile', id_user=current_user.id)}}"><h4>Profile</h4></a></li>	
			<li><a href="{{url_for('logout')}}"><h4>Sign out</h4></a></li>
			{%endif%}
			{%if not g.user.is_authenticated%}
			<li><a href="{{url_for('login')}}"><h4>Log in</h4></a></li>
			<li><a href="{{url_for('register')}}"><h4>Register</h4></a></li>
			{%endif%}
		</ul>
		<button class='menu'>
			<div class="hamburger"></div>
			<div class="hamburger"></div>
			<div class="hamburger"></div>
		</button>
	 </div>
{% block body%}{%endblock%}
</body>