<article>
	 	<header id="arth">
	 			<div id="photo"></div>
	 	<ul id="ul">
	 			<li id="li"><h3><a href="/profile/{{user.query.filter_by(id=issue.author_id).first().id}}">{{user.query.filter_by(id=issue.author_id).first().full_name}}</a></h3></li>
	 			<li id="li"><h3><a href="/issue/{{issue.id}}">{{issue.title}}</a></h3></li>
	 	</ul>
	 	</header>
	 	<div class="m-cont">
	 		<p class="description">
	 			{{issue.description}}
	 		</p>
	 	{%if issue.coords_latitude and issue.coords_longitude%}
		{{
   		 googlemap(
			identifier="issue-map-"+issue.id|string,
        	cls="maps",
        	lat=issue.coords_latitude,
       	 	lng=issue.coords_longitude,
        	zoom_control=True,
        	maptype_control=True,
        	scale_control=False,
        	streetview_control=True,
        	rotate_control=False,
        	fullscreen_control=False,
			markers=[(issue.coords_latitude, issue.coords_longitude, issue.title)]
   		 	)
		}}
		{%endif%}

	 	<div id="photos">
	 		<div  class="p1"></div>
	 		<div  class="p1"></div>
	 		<div  class="p1"></div>
	 	</div>
	 	</div>
	 	<footer>
	 		<div id="buttons">
	 			<button id="button1">
	 				Upvote
	 			</button>
	 			<button id="button2">
	 				Downvote
	 			</button>
	 		<a href="#"><div id="fb"></div></a>
	 		<a href="#"><div id="tw"></div></a>
	 		</div>
	 	</footer>

 </article>