{%extends 'base.html'%}

{%block body%}
    <div class="formular">

        <form method="POST" action="/login">
            <h2>Please sign in</h2>
            {{form.hidden_tag() }}
            <label>Email:</label>
            {{form.email(id_='e-mail')}}<br>
            <label>Password:</label>
            {{form.password(id_='password')}}<br>
            <button type="submit">Sign in</button>
        </form>
        <h5><a href ="{{url_for('register')}}">Don't have an account? Register here</a></h5>
    </div>


{%endblock%}