{%extends 'base.html'%}
{%block pagescript%}
<script type="text/javascript">
navigator.geolocation.getCurrentPosition(function (position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        $.ajax({
    type: 'POST',
    url: '/location',
    data: JSON.stringify({lat: latitude, longit: longitude}, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success: function(result) {
        console.log(result);}})},
        function (error) {
        console.log(error.code);
        var btn = document.createElement("BUTTON");        // Create a <button> element
        var t = document.createTextNode("CLICK TO SET LOCATION");       // Create a text node
        btn.appendChild(t);                                // Append the text to <button>
        document.body.appendChild(btn);
        btn.onclick = function(){
            window.open("{{url_for('show_map')}}");
        };
        }, {enableHighAccuracy: true, maximumAge: 0});

</script>
{%endblock%}

{%block body%}
    <div class="container">

        <form method="POST" action="/post_issue">
            <h2>Post an issue</h2>
            {{form.hidden_tag()}}
            <label>Title:</label>
            {{form.title()}}<br>
            <label>Description:</label>
            {{form.description()}}<br>
            <button type="submit" id="buton">Post!</button>
        </form>
        <h4>Instructions: Firstly select location then come back and click 'Post'</h4>
    </div>
    <script>

{%endblock%}