{%extends 'base.html'%}
{%block body%}

	 <div id="prof">
	 	<div id="profile"><br><br><br><br><br><br><button id="buttonu">Edit profile</button></div><br><br><br>
	 	<h2>Name: {{user.full_name}}</h2>
	 	<h2>Age:{{user.age}}</h2>
	 	<h2>Sex:{{user.gender}}</h2>
	 	<h2>E-mail:{{user.email}}</h2>
	 	<h2>Issues Posted: </h2>
	 </div>

{%endblock%}