{%extends 'base.html'%}

{%block body%}
    <div class="container">

        <form method="POST" action="/register">
            <h2>Please register</h2>
            {{form.hidden_tag() }}
            <label>Email:</label>
            {{form.email(class_='form-field')}}<br>
            <label>Full name:</label>
            {{form.full_name(class_='form-field')}}<br>
            <label>Password:</label>
            {{form.password(class_='form-field')}}<br>
            <label>Age:</label>
            {{form.age(class_='form-field')}}<br>
            <label>Gender:</label>
            {{form.gender(class_='form-field')}}<br>

            <button type="submit">Sign in</button>
        </form>
        <h5><a href ="{{url_for('login')}}">Already have an account? Log in here</a></h5>
    </div>


{%endblock%}