{%extends 'base.html'%}
{%block pagescript%}
<script type="text/javascript">
$(document).ready(function(){
    $("#button1").click(function(){
	$.ajax({
    	type: 'POST',
    	url: '/vote',
   		data: JSON.stringify({vote: 'up', issueid:{{issue.id}}}, null, '\t'),
    	contentType: 'application/json;charset=UTF-8',
    	success: function(result) {
        	console.log(result);}})
    });
   $('#button2').click(function(){
		$.ajax({
    	type: 'POST',
   		url: '/vote',
    	data: JSON.stringify({vote: 'down', issueid:{{issue.id}}}, null, '\t'),
    	contentType: 'application/json;charset=UTF-8',
    	success: function(result) {
        	console.log(result);}})
});
});

</script>
{%endblock%}

{%block body%}
<article>
	 	<header id="arth">
	 			<div id="photo"></div>
	 	<ul id="ul">
	 			<li id="li"><h3><a href="{{url_for('show_profile', id_user=author.id)}}">{{author.full_name}}</a></h3></li>
	 			<li id="li"><h3>{{issue.title}}</h3></li>
	 	</ul>
	 	</header>
	 	<div class="m-cont">
	 		<p class="description">
	 			{{issue.description}}
	 		</p>
	 	<div id="maps">
	 		
	 	</div>
	 	<div id="photos">
	 		<div  class="p1"></div>
	 		<div  class="p1"></div>
	 		<div  class="p1"></div>
	 	</div>
	 	</div>
	 	<footer>
	 		<div id="buttons">
	 			<button id="button1">
	 				Upvote
	 			</button>
	 			<button id="button2">
	 				Downvote
	 			</button>
	 		<a href="#"><div id="fb"></div></a>
	 		<a href="#"><div id="tw"></div></a>
	 		</div>
	 		<div id="piccom"></div>
	 		<form method="POST" action="{{url_for('show_issue', id_issue=issue.id)}}"> 
	 			{{form.hidden_tag() }}
	 			{{form.comment()}}
	 			{{form.submit()}}</form>
	 	</footer>
 </article>
 <h2 style="margin-left: 25%">Comments:</h2>
 {%for comment in comments%}
 <h4 style="margin-left: 25%">Comment:</h4>
 <p style="margin-left: 25%">{{comment.content}}</p>
 {%endfor%}

 <script src="/static/issue.js">

</script>
{%endblock%}